<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <div class="row">
        <div class="input-group">
          <select style="width: 100%" id="select-sku" title="sku"></select>
        </div>
      </div>
      <div class="row mt-5" id="sku" style="display: none;">
        <div class="col-12" id="sku-header">
          <h3 id="sku-name"></h3>
          <div class="text-muted">sku</div>
        </div>
        <div class="col-12 mt-3">
          <div class="card-columns" id="items-grid"></div>
        </div>
      </div>
    </div>
  </div>
</div>